.navigationBar {
  padding: 0% 8%;
  height: 60px;
}
.collapse {
  padding-left: 300px;
}
.row1 {
  padding-top: 15%;
  padding-bottom: 13%;
}
.bgGray {
  padding: 15%;
  background-color: lightgrey;
}
.alignServices {
  padding: 3%;
}
